* {box-sizing:border-box}

body {
  font-family: Verdana, Geneva, sans-serif;
  margin:0;
}

#content-container {
  margin:40px;
}

h1 {
  font-size: xx-large;
  font-style: italic;
  color: #e30000;
}

h3 {
  font-size: x-large;
  font-style: italic;
  color: #e30000;
}

ul.spaced-list {
  list-style-type:none;
}

.spaced-list li {
  margin-bottom: 10px;
}

dl.definition-list {
  margin: 30px;
}

.definition-list dt {
  font-weight: bold;
}

.definition-list dd {
  margin: 20px;
}

.google-form {
  text-align: center;
}

.award {
  margin: 40px;
  padding: 20px;
  background: #fff2cc;
  border-radius: 25px;
}

.nominations {
  margin: 40px;
  padding: 20px;
  background: #ffc0cb5e;
  background-image: url('white-heart-tower.png');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center; 
  border-radius: 25px;
}

.special-event {
  margin: 40px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  #content-container {
    margin:20px;
  }
  
  dl.definition-list {
    margin: 15px;
  }
  .award {
    margin: 5px;
    padding: 5px;
  }

  .nominations {
    margin: 5px;
    padding: 5px;
  }
  .special-event {
    margin: 5px;
    padding: 5px;
  }
}
